# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/

# IDE
.vscode/

# Environment variables
.env

# Reports & Artifacts
reports/
artifacts/

# OS
.DS_Store
Thumbs.db